<section class="newHomeSec1"> 
  <div class="newHomeDynamicText">
  <h1>How do I...<span class="auto-type"></span></h1>
      <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
      <script src="/Client/Scripts/app.js"></script>  
      <a href="/post"><img class="search-icon" src="/Assets/images/Images/search.webp"></a>
   </div>
</section>

<section class="nhTest">
  <img class="personThree fade-in" src="/Assets/images/Images/OmidThink.png">

  <span class="nhTestLogin">
    <img class="nhIntroSecLogo" src="/Assets/images/Images/Logo.png" width="200" height="200">
    {{#if user}}
                      <h1 class="nhTesth1"> Welcome, {{user.username}}</h1>

                {{else}}
                       <h1 class="nhTesth1"> Debugging Made Simple</h1>

                {{/if}}           
    <a href="/auth/login"> <button class="login">
    <span class="circle1"></span>
    <span class="circle2"></span>
    <span class="circle3"></span>
    <span class="circle4"></span>
    <span class="circle5"></span>
    <span class="text">Login</span></a>
</button>
  </span>

    <img class="personThree fade-in" src="/Assets/images/Images/TristanThink.png">

</section>

<div class="custom-shape-divider-top-1709852544">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
        <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
        <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
    </svg>
</div>


<section class="nhVideoSec">
  <video class="nhIntroSecVideo darkmode-ignore" autoplay loop muted>
    <source src="/Assets/images/Images/backgroundvid.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</section>

<!-- GALLERY SECTION -->
<section class="nhIntroSec">
    <section class="nhIntroText">
    <h1 class="nhIntroTexth1">Code | Build | Debug</h1>
  </section>
    <div class="gallery js-flickity"
    data-flickity-options='{ "wrapAround": true }'>
    <div class="gallery js-flickity"
    data-flickity-options='{ "wrapAround": true }'>
        {{#each post}}
        <div class="gallery-cell">
        <li class="card m-4 text-center col-lg-4">
            <p>{{this.username}}</p>            
           <p>{{this.createdAt}}</p> 
            <h5>{{this.postId}}</h5>
            <h6>{{this.postTitle}}</h6>
            <p>{{this.postContent}}</p>
            <p>{{this.postCode}}</p>
            </div>
    {{/each}}
    </div>
    </div>
</section>


{{!-- <button class="cssbuttons-io">
  <span>

    Code
    </span>
</button> --}}


 <section class="newHomeSec2">
<div class="custom-shape-divider-top-1709694937">
<h1 class="newHomeSec2h2"> Welcome to </h1>
<h1 class="newHomeSec2h1"> Georgian Code Forum</h1>
{{!-- <img class="newHomeLogo" src="./Assets/images/Images/Logo.png"> --}}
</div>

<div class="custom-shape-divider-bottom-1709747220">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
</div>
</section>
{{!-- <hr class="gradient"> --}}

<section class="nhSec3"> 
  <h1 class="nhSec3Title"> Why Choose GCF?</h1>
<div class="nhSec3FG">
<span class="nhDynamic1"> 
                <h1 class="nhDynamich1">
                  <img class="nhIconDesc" src="/Assets/images/Images/code-slash.svg" alt="code"> 
                  <span class="num" data-val="600">00</span>+ </h1>
                    
                     <h2 class="nhDynamich2"> Lines of code uploaded</h2> 
                     <h3> Increasingly higher amount of problems and solutions</h3>
                    
</span>


<span class="nhDynamic2"> 
                <h1 class="nhDynamich1"><img class="nhIconDesc" src="/Assets/images/Images/person-add.svg" alt="code"> <span class="num" data-val="85">00</span> </h1>
                    
                     <h2 class="nhDynamich2"> New Daily Members</h2> 
                     <h3> Increasingly higher amount of problems and solutions</h3>
                    
</span>

</div>

<div class="nhSec3SG">
<span class="nhDynamic3"> 
                <h1 class="nhDynamich1"><img class="nhIconDesc" src="/Assets/images/Images/lightbulb.svg" alt="code"> <span class="num" data-val="600">55</span>% </h1>
                    
                     <h2 class="nhDynamich2"> Higher Coding Efficency</h2> 
                     <h3> Increasingly higher amount of problems and solutions</h3>
                    
</span>


<span class="nhDynamic4"> 
                <h1 class="nhDynamich1"><img class="nhIconDesc" src="/Assets/images/Images/code2.svg" alt="code"> <span class="num" data-val="600">70</span>% </h1>
                    
                     <h2 class="nhDynamich2"> Increase in Retained Knowledge</h2> 
                     <h3> Accelarates Learning for all Developers</h3>
                    
</span>
</div>
</section>

  {{!-- SHAPE DIVIDER  --}}
<div class="custom-shape-divider-top-1709713044">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M649.97 0L550.03 0 599.91 54.12 649.97 0z" class="shape-fill"></path>
    </svg>
</div>


<section class="nhAboutUs">
  <span class="nhAboutUsText">
    <h1 class="nhAboutUsh1">
      By Georgian Developers, for All Developers
    </h1>
    <h2 class="nhAboutUsh2"> Learn More About Our Team and Mission Statement</h2>
    <a href="/about"><button class="learn-more-btn">
  <span class="circle" aria-hidden="true">
  <span class="icon arrow"></span>
  </span>
  <span class="button-text">Learn More</span>
</button></a>
  </span>


<img class="nhAboutUsIcon" src="/Assets/images/Images/TeamLogo.jpg" alt="3-Bits">

</section>


<section class="nhSec4">
{{!-- <div class="custom-shape-divider-top-1709747918">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
    </svg> --}}




  <span class="nhSec4G1">
    
    <div class="nhContainer">
  <div class="box">
    <span class="title">24/7 Support</span>
    <div>
        <img class="nhSec4Icon" src="/Assets/images/Images/headset.svg" alt="check circle">
      <strong>Customer Support is always there</strong>
    </div>
  </div>
</div>

  </span>
   
  <span class="nhSec4G1">
    
    <div class="nhContainer">
  <div class="box">
    <span class="title">Efficient Workflow</span>
    <div>
        <img class="nhSec4Icon" src="/Assets/images/Images/check-circle.svg" alt="check circle">
      <strong>Allows Developers to Build Efficiently</strong>
    </div>
  </div>
</div>
  </span>

<span class="nhSec4G1">
    
    <div class="nhContainer">
  <div class="box">
    <span class="title">Free to Use</span>
    <div>
      <img class="nhSec4Icon" src="/Assets/images/Images/cloud-check.svg" alt="cloud check">
      <strong>Online and Available Everyday for Free</strong>
    </div>
  </div>
</div>
  </span>


{{!-- </div> --}}


</section>

    <!-- JavaScript for fade-in animations -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
    // Function to check if an element is in the viewport with an offset to trigger earlier
    function isInViewport(element, offset = 200) { // offset in pixels; adjust as needed
        const rect = element.getBoundingClientRect();
        return (
            rect.top >= (0 - offset) &&
            rect.left >= (0 - offset) &&
            rect.bottom <= ((window.innerHeight || document.documentElement.clientHeight) + offset) &&
            rect.right <= ((window.innerWidth || document.documentElement.clientWidth) + offset)
        );
    }

    // Function to handle scroll events and trigger animations
    function handleScroll() {
        document.querySelectorAll('.fade-in').forEach(function (element) {
            if (isInViewport(element)) {
                element.classList.add('visible');
            }
        });
    }

    // Attach the handleScroll function to the scroll event
    window.addEventListener('scroll', handleScroll);

    // Trigger the initial animations on page load
    handleScroll();
});
</script>
      <script src="darkmode-js/lib/darkmode-js.js"></script>
      <script>
        // Initialize Darkmode.js here
        new Darkmode().showWidget();
    </script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>