
<canvas id="matrixEffect"></canvas>
<div class="background-container">
    <div class="create-container">
            <h1 class="create-post">Update Post</h1>

<form method="post">
    {{!-- <fieldset>
        <label for="codingLanguage">Coding Language: *</label>
        <select name="codingLanguage" id="codingLanguage">
            {{selectOption 'JavaScript' post.codingLanguage}}
            {{selectOption 'Python' post.codingLanguage}}
            {{selectOption 'Java' post.codingLanguage}}
            {{selectOption 'C#' post.codingLanguage}}
        </select>
    </fieldset> --}}
    <fieldset>
        <label for="postTitle">Title: </label>
        <input name="postTitle" id="postTitle"  value="{{post.postTitle}}" />
    </fieldset>
   <fieldset>
        <label for="postContent">Content: </label>
        <input name="postContent" id="postContent"  value="{{post.postContent}}" />
    </fieldset>
{{!-- 
    <fieldset>
        <label for="postCode">Code: </label>
        <textarea name="postCode" id="postCode" value="{{post.postCode}}"> </textarea>
    </fieldset> --}}

      <div id="codeEditor" class="code-editor" style="display:block;">
                <label for="postCode">Code:</label>  
                <div class="language-icons">
                    <div class="icon-group">
                        <img id="jsIcon" src="/Assets/images/Images/JS.png" alt="JavaScript" class="language-icon" data-language="javascript">
                        <img id="pythonIcon" src="/Assets/images/Images/Python.svg" alt="Python" class="language-icon" data-language="python">
                        <img id="javaIcon" src="/Assets/images/Images/Java.png" alt="Java" class="language-icon" data-language="java">
                    </div>
                    <div class="icon-group">
                        <img id="jsIcon" src="/Assets/images/Images/HTML5.png" alt="HTML" class="language-icon" data-language="html">
                        <img id="jsIcon" src="/Assets/images/Images/CSS.png" alt="CSS" class="language-icon" data-language="css">
                        <img id="pythonIcon" src="/Assets/images/Images/PHP.png" alt="PHP" class="language-icon" data-language="php">
                    </div>
                    <div class="icon-group">
                        <img id="javaIcon" src="/Assets/images/Images/SQL.png" alt="SQL" class="language-icon" data-language="sql">
                        <img id="csharpIcon" src="/Assets/images/Images/CSharp.png" alt="C#" class="language-icon" data-language="csharp">
                        <img id="csharpIcon" src="/Assets/images/Images/CPlusPlus.png" alt="C++" class="language-icon" data-language="cplusplus">
                    </div>
                </div>
                <textarea class="code-textarea" id="postCode" name="postCode" rows="6" value="{{post.postCode}}"></textarea>
            </div>
            <div class="button-container">
                <div class="toggle-buttons">
                    {{!-- <button class="toggle-button" id="postButton" type="button"><img class="toggle-img" src="/Assets/images/Images/Post.webp"></button> --}}
                    <button class="toggle-button" id="codeButton" type="button"><img class="toggle-img" src="/Assets/images/Images/CodeLang.png"></button>
                </div>
                <div class="post-buttons">
                    <button class="create-button" type="submit">Post</button>
                    <button type="button" class="cancel-button" name="cancel" value="cancel" onclick="goPrev()"> Cancel</button>
                </div>
            </div>
                <script>
                    function goPrev()
                    {
                        window.history.back();
                    }
                </script>
            </div>
        </form>
    </div>
</div>
 
    <button class="btn btn-primary offset-2">Save</button>
</form>
    </div>
</div>


{{!-- Matrix Background INSPIRATION/SOURCE: https://www.youtube.com/watch?v=6Gn2KgKQVHU&ab_channel=QuickCodingTuts --}}
</script>

    <script>
        const canvas = document.getElementById('matrixEffect');
const context = canvas.getContext('2d');

canvas.width = window.innerWidth;
canvas.height = window.innerHeight;

const katakana = '';
const latin = '';
const nums = '01';
const matrixChars = nums;

const fontSize = 16;
const columns = canvas.width / fontSize;
const drops = Array(Math.floor(columns)).fill(1);

function draw() {
    setTimeout(() => {
        context.fillStyle = 'rgba(240, 240, 240, 0.05)';
        context.fillRect(0, 0, canvas.width, canvas.height);

        context.fillStyle = '#777'; // Gray Text
        context.font = fontSize + 'px monospace';

        for(let i = 0; i < drops.length; i++) {
            const text = matrixChars.charAt(Math.floor(Math.random() * matrixChars.length));
            context.fillText(text, i * fontSize, drops[i] * fontSize);

            if(drops[i] * fontSize > canvas.height && Math.random() > 0.975) {
                drops[i] = 0;
            }
            drops[i]++;
        }
        requestAnimationFrame(draw);
    }, 50); // Adjust the frame rate
}

draw();

    </script>

          <script src="/darkmode-js/lib/darkmode-js.js"></script>
      <script>
        // Initialize Darkmode.js here
        new Darkmode().showWidget();
    </script>