
<canvas id="matrixEffect"></canvas>
<div class="background-container">
    <div class="create-container">
            <h1 class="create-post">Update Post</h1>

<form method="post">
    {{!-- <fieldset>
        <label for="codingLanguage">Coding Language: *</label>
        <select name="codingLanguage" id="codingLanguage">
            {{selectOption 'JavaScript' post.codingLanguage}}
            {{selectOption 'Python' post.codingLanguage}}
            {{selectOption 'Java' post.codingLanguage}}
            {{selectOption 'C#' post.codingLanguage}}
        </select>
    </fieldset> --}}
    <fieldset>
        <label for="postTitle">Title: </label>
        <input name="postTitle" id="postTitle"  value="{{post.postTitle}}" />
    </fieldset>
   <fieldset>
        <label for="postContent">Content: </label>
        <input name="postContent" id="postContent"  value="{{post.postContent}}" />
    </fieldset>

    <fieldset>
        <label for="postCode">Code: </label>
        <textarea name="postCode" id="postCode" value="{{post.postCode}}"> </textarea>
    </fieldset>
 
    <button class="btn btn-primary offset-2">Save</button>
</form>
    </div>
</div>


{{!-- Matrix Background INSPIRATION/SOURCE: https://www.youtube.com/watch?v=6Gn2KgKQVHU&ab_channel=QuickCodingTuts --}}
</script>

    <script>
        const canvas = document.getElementById('matrixEffect');
const context = canvas.getContext('2d');

canvas.width = window.innerWidth;
canvas.height = window.innerHeight;

const katakana = '';
const latin = '';
const nums = '01';
const matrixChars = nums;

const fontSize = 16;
const columns = canvas.width / fontSize;
const drops = Array(Math.floor(columns)).fill(1);

function draw() {
    setTimeout(() => {
        context.fillStyle = 'rgba(240, 240, 240, 0.05)';
        context.fillRect(0, 0, canvas.width, canvas.height);

        context.fillStyle = '#777'; // Gray Text
        context.font = fontSize + 'px monospace';

        for(let i = 0; i < drops.length; i++) {
            const text = matrixChars.charAt(Math.floor(Math.random() * matrixChars.length));
            context.fillText(text, i * fontSize, drops[i] * fontSize);

            if(drops[i] * fontSize > canvas.height && Math.random() > 0.975) {
                drops[i] = 0;
            }
            drops[i]++;
        }
        requestAnimationFrame(draw);
    }, 50); // Adjust the frame rate
}

draw();

    </script>

          <script src="/darkmode-js/lib/darkmode-js.js"></script>
      <script>
        // Initialize Darkmode.js here
        new Darkmode().showWidget();
    </script>